.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: rgb(0, 0, 0);
    position: fixed;
    box-sizing: border-box;
    padding: 10px 25px;
    box-shadow: 2px 0px 5px black;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    left: 10px;
    width: initial;
    z-index: 1000;
    font-family: Roboto;
  }
  .navbar:hover{
    /* background: linear-gradient(rgba(0, 0, 0, 0.825) 0%, rgba(0, 0, 0, 0) 80%); */

  }
  
  .company-logo {
    width: 100px;
    transition: ease-in .15s;

  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 100;
  }
  
  .menu-icon .bar {
    background: var(--main);
    border-radius: 10px;
    height: 0.25rem;
    width: 100%;
    transition: all 0.3s;

  }
  .menu-icon:hover .bar{
    background: rgb(255, 255, 255);
    border: 1px solid black;
  }
  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(9px, 7px);


  }
  
  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;


  }
  
  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);


  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #343434;
    text-decoration: underline;
    text-decoration-color: var(--main);
  }
  
  /* Responsive Styles */
  @media (max-width: 1100px) {
    .navbar{
        padding: 10px 25px;
        box-shadow: 2px 0px 5px black;
        border-radius: 10px;
        top: 10px;
        right: 10px;
        left: 10px;
        width: initial;


    }
    .company-logo {
        width: 80px;
        
    
      }
    .menu-icon {
      display: flex;
    }
  
    .nav-links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      background-color: rgba(17, 17, 17, 0.993);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      gap: 2rem;
      width: 100%; /* Take full width */
      transform: translateX(100%); /* Initially off-screen */
      transition: transform 0.3s ease-in-out;/* Smooth transition */

    }
  
    .nav-links.active {
      transform: translateX(0); /* Slide in */
      margin: 0;

    }
    .nav-links li a{
        font-size: 40px;
        color: white;
    }
  }
  