.nav-container{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0px;
    justify-content: center;
    display: flex;
    transition: ease-in .2s;
    color: white;
    z-index: 100;
    transition: ease-in .2s;
    background: linear-gradient(rgba(0, 0, 0, 0.579) 10%, rgba(0, 0, 0, 0) 80%);

}

.nav-container:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.825) 0%, rgba(0, 0, 0, 0) 80%);
}

.company-logo{

    max-width:150px;
    box-sizing: border-box;
    object-fit:fill;
    padding-top: 10px;
    transition: ease-in .2s;

}


.nav-content-container{


    max-width: 2400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 0px 50px;
    width: 100%;
    box-sizing: border-box;
}

.nav-content-container div{
    display: flex;
    align-items: center;
    font-family: 'Oswald';
    font-weight: 800;
    font-size: 25px;
    transition: ease-in .2s;
}


.nav-content-container div:hover{
    cursor: pointer;
    font-size: 30px;

}
.nav-content-container div:hover{

}
@media only screen and (max-width:1000px) {
    .company-logo{
        max-width: 100px;
    }
    .nav-content-container{
        padding: 0px 20px;
    }
}