.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--main);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 100;
  }
  
  .menu-icon .bar {
    background: white;
    height: 0.25rem;
    width: 100%;
    transition: all 0.3s;
  }
  
  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #b6edc8;
  }
  
  /* Responsive Styles */
  @media (max-width: 1100px) {
    .menu-icon {
      display: flex;
    }
  
    .nav-links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      background-color: rgb(17, 17, 17);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%; /* Take full width */
      transform: translateX(100%); /* Initially off-screen */
      transition: transform 0.3s ease-in-out; /* Smooth transition */
    }
  
    .nav-links.active {
      transform: translateX(0); /* Slide in */
      margin: 0;
    }
  }
  