
.review-container{
    background-color: white;
    border-radius:10px ;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px;
    font-size: 1.3em;
    font-family: Oswald;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.062);
    margin-top: 90px;
}
.review-image{
    margin-top: 10px;
}
.review-name{
    font-size: 35px;
    margin-top: 0px;
    color: var(--main);
    letter-spacing: normal;
    font-family: OSWALD;
    align-self: flex-start;

    

}
.slider-stars{
    margin: 5px 0px;
    align-self: flex-start;


}
.review-text{
    margin: 0;
    overflow-y: scroll;
    max-width: 400px;
    color: rgb(0, 0, 0);
    

}
.review-text::-webkit-scrollbar{
    display: none;
}

.review-google-logo-container{

    position: absolute;
    top: 20px;
    right: 20px;
}
.review-google-logo{
    width: 30px;
}