
/* Pagination dots */
.swiper-pagination-bullet {
    background-color: #c0bbbb;
    opacity: 1;
    width: 14px;
    height: 14px;
  }

/* Active pagination dot */
.swiper-pagination-bullet-active {
background-color: var(--main);

}

  /* Next button */
.swiper-button-next {
    color: var(--main)




  }
/* Previous button */
.swiper-button-prev {
color: var(--main)



}
  

.swiper-button-next,
.swiper-button-prev {
width: 50px;
height: 50px;

}
.swiper-slide{
  justify-content: center;
  display: flex;

}


