/* Hero */
.menu-page {
  color: var(--contrast);

}

.menu-hero {
  /* background-image: url('https://i.redd.it/w0pbj3n6t3aa1.jpg'); */
  background-image: url('../assets/tacos.avif');
  background-size: cover;
  background-position: center;
  text-align: center;

  padding: 50px 20px;
  padding-top: 150px;
  min-height: 700px;
  font-family: Titan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
}

.menu-hero h1 {

  text-shadow: 2px 2px 4px black;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

.menu-hero p {
  font-size: 50px;
  color: var(--main);
  font-family: Leckerli;
  text-shadow: 2px 3px 0px rgb(0, 0, 0);
  margin-top: 0px;
}






/* Menu */
.menu-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-bottom: 100px;
  overflow: hidden;
}
.menu-title{
  font-size: 50px;
  font-family: Titan;
  margin-top: 90px;
  margin-bottom: 20px;
}
@media screen and (max-width:1100px) {
  .menu-title{
    font-size: 40px;
  }
}
.menu-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px;
  max-width: 500px;

}
.menu-item-img{
  height: 350px;
  max-width: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius:10% 90% 10% 90% / 3% 6% 5% 6% ;
}
.menu-item-title{
  font-family: Leckerli;
  color: var(--main);
  text-shadow: 2px 3px black;

}
.menu-item-price{
  margin: 0;
  color: var(--comp);
}
.menu-item-description{

  font-size: 18px;
}







.menu-cta {
  text-align: center;
  padding: 20px;
  color: black;
  background: url('../assets/location-2e.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-cta-content{
  background-color: rgba(255, 255, 255, 0.966);
  padding: 10px;
  border-radius: 10px;

}
.menu-cta h2 {
  margin-bottom: 10px;
  font-family: Titan;
  font-size: 40px;
  color: var(--main);
}

.cta-button {
  background-color: var(--contrast);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  width:fit-content;
  transition: all ease-in .15s;
  font-family: Titan;
}

.cta-button:hover {
  background-color: #2b2b2b;
}
@media screen and (max-width:1100px) {
  .menu-cta{
    min-height: 300px;
  }
}