body{
  margin: 0px;
  background-color: #edefed;

}
:root{
  --main:rgb(46, 221, 87);
  font-family:Oswald ;
}

@font-face {
  font-family:Oswald ;
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}
img {
  display: block;
  margin: 0;
}