html,body{
  margin: 0px;
  background-color: #edefed;
  height: 100%;
  overflow-x: none;
}
:root{
  /* --main:rgb(46, 221, 87); */
  --main:rgb(6, 116, 31);
  --contrast: rgb(17, 17, 17);
  font-family:Oswald ;
}

@font-face {
  font-family:Oswald ;
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}
img {
  display: block;
  margin: 0;
}
*{
  box-sizing: border-box;
}