html,body{
  margin: 0px;
  background-color: #edefed;
  height: 100%;
  /* background: url('./assets/ov-1.svg');
  background-position: center;
  background-size: cover; */

}
:root{
  /* --main:rgb(46, 221, 87); */
  --main:rgb(6, 116, 31);
  --contrast: rgb(17, 17, 17);
  --comp:#C8102E;
  font-family:Oswald ;
}

@font-face {
  font-family:Oswald ;
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}
@font-face {
  font-family:Titan ;
  src: url('./assets/fonts/TitanOne-Regular.ttf');
}
@font-face {
  font-family:Leckerli ;
  src: url('./assets/fonts/LeckerliOne-Regular.ttf');
}
img {
  display: block;
  margin: 0;
}
*{
  box-sizing: border-box;
}